### Author: Akshay Ijantkar
### Team: Aqua Wizards
### Project: Surfers Bible

# Import Libraries:

In [16]:
import pandas as pd
# import numpy as np
# import random
# import matplotlib as plt
# from matplotlib import pyplot
# import seaborn as sns; sns.set()
# from scipy.stats import norm 
# import matplotlib.pyplot as plt
# # For Linear regression
# from sklearn.linear_model import LinearRegression
# # For split given dataset into train and test set.
# from sklearn.model_selection import train_test_split
# # To verify models using this metrics 
# from sklearn.metrics import mean_squared_error, r2_score

# import statsmodels.formula.api as smf
# from sklearn.linear_model import LinearRegression
# from sklearn import metrics
# # v
# from matplotlib import rcParams
# rcParams['figure.figsize'] = 50,50
# import pandas_profiling
# pd.set_option('display.max_rows', 1500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
# from pandas import ExcelWriter
# from pandas import ExcelFile

# import googlemaps
# from datetime import datetime

# from pygeocoder import Geocoder
# %matplotlib inline

# Weight Volume DF:

In [2]:
dataset_path = r""
# surf_board_df = pd.read_csv(dataset_path + "All_Las_Bambas_Assay_Method_SG_Data.xlsx")
Wt_Vol_df = pd.read_excel(dataset_path + "Surfboard_Reco_Datasets.xlsx", 
                              sheet_name = "Wt_Vol")
print("Wt_Vol_df.shape = ", Wt_Vol_df.shape)
Wt_Vol_df["Weight (Kg)"] = Wt_Vol_df["Weight (Kg)"].astype(str).apply(lambda x: x.strip())
Wt_Vol_df

Wt_Vol_df.shape =  (16, 6)

   Weight (Kg)  Advance +  Advance  Inter. / Adv  Intermediate  Beginner
0   35 & Under      15.05    15.75         16.80         21.00     25.90
1           40      16.40    17.20         18.80         23.60     29.20
2           45      18.00    18.90         20.70         26.10     32.40
3           50      19.00    20.50         22.50         28.50     35.50
4           55      19.80    21.45         23.65         30.25     37.95
5           60      21.00    22.80         25.20         32.40     40.80
6           65      22.75    24.70         27.30         35.10     44.20
7           70      24.50    26.60         29.40         37.80     47.60
8           75      26.25    28.50         31.50         40.50     51.00
9           80      28.00    30.40         33.60         43.20     54.40
10          85      29.75    32.30         35.70         45.90     57.80
11          90      31.50    34.20         37.80         48.60     61.20
12          95      33.25    36.10         39.90         51.30     64.60
13         100      35.00    38.00         42.00         54.00     68.00
14         105      36.75    39.90         44.10         56.70     71.40
15         110      38.50    41.80         46.20         59.40     74.80

In [3]:
Wt_Vol_df.dtypes

Weight (Kg)      object
Advance +       float64
Advance         float64
Inter. / Adv    float64
Intermediate    float64
Beginner        float64
dtype: object

# Age and Factor DF:

In [4]:
dataset_path = r""
# surf_board_df = pd.read_csv(dataset_path + "All_Las_Bambas_Assay_Method_SG_Data.xlsx")
Age_Factor_df = pd.read_excel(dataset_path + "Surfboard_Reco_Datasets.xlsx", 
                              sheet_name = "Age_Factor")
print("Age_Factor_df.shape = ", Age_Factor_df.shape)
Age_Factor_df["Age"] = Age_Factor_df["Age"].astype(str).apply(lambda x: x.strip())

Age_Factor_df.head(5)

Age_Factor_df.shape =  (4, 2)

       Age  Factor
0   0 - 30    0.00
1  31 - 50    1.08
2  51 - 60    1.20
3      61+    1.30

In [5]:
Age_Factor_df.dtypes

Age        object
Factor    float64
dtype: object

# Fitness Factor DF:

In [6]:
dataset_path = r""
# surf_board_df = pd.read_csv(dataset_path + "All_Las_Bambas_Assay_Method_SG_Data.xlsx")
Fitness_Factor_df = pd.read_excel(dataset_path + "Surfboard_Reco_Datasets.xlsx", 
                              sheet_name = "Fitness_Factor")
print("Fitness_Factor_df.shape = ", Fitness_Factor_df.shape)

Fitness_Factor_df.head(5)

Fitness_Factor_df.shape =  (4, 2)

                                             Fitness  Factor
0  Excellent - Surfing 4 times per week or other ...    0.00
1  Good - Surfing 3 times per week or other train...    1.05
2  Average - Surfing 2 times per week or other tr...    1.10
3  Poor - Surfing 1 times per week or other train...    1.20

In [7]:
Fitness_Factor_df[['fitness_level','fitness_des']] = Fitness_Factor_df.Fitness.str.split("-",expand=True,)
Fitness_Factor_df["fitness_level"] = Fitness_Factor_df["fitness_level"].astype(str).apply(lambda x: x.strip())
Fitness_Factor_df["fitness_des"] = Fitness_Factor_df["fitness_des"].astype(str).apply(lambda x: x.strip())

Fitness_Factor_df

,Fitness,Factor,fitness_level,fitness_des
0,Excellent - Surfing 4 times per week or other ...,0.00,Excellent,Surfing 4 times per week or other training 4 t...
1,Good - Surfing 3 times per week or other train...,1.05,Good,Surfing 3 times per week or other training 3 t...
2,Average - Surfing 2 times per week or other tr...,1.10,Average,Surfing 2 times per week or other training 2 t...
3,Poor - Surfing 1 times per week or other train...,1.20,Poor,Surfing 1 times per week or other training 1 t...

In [8]:
Fitness_Factor_df.dtypes

Fitness           object
Factor           float64
fitness_level     object
fitness_des       object
dtype: object

# Calculate Surf Board Volume:

In [9]:
def calculate_surfboard_volume_func(weight, age, skill, fitness_level):
    
    return str(Wt_Vol_df.loc[ Wt_Vol_df["Weight (Kg)"] == weight, skill].values[0]\
          *\
          Age_Factor_df.loc[Age_Factor_df["Age"] == age, "Factor"].values[0]\
          *\
          Fitness_Factor_df.loc[Fitness_Factor_df["fitness_level"] == fitness_level, "Factor"].values[0])

In [10]:
calculate_surfboard_volume_func(weight = "80", 
                                age = "0 - 30", 
                                skill = "Advance", 
                                fitness_level = "Average" )

'0.0'

# Import surfboard_dimensions DF:

In [11]:
dataset_path = r""
# surf_board_df = pd.read_csv(dataset_path + "All_Las_Bambas_Assay_Method_SG_Data.xlsx")
surfboard_dimensions_df = pd.read_excel(dataset_path + "Surfboard_Reco_Datasets.xlsx", 
                              sheet_name = "surfboard_dimensions")
print("surfboard_dimensions_df.shape = ", surfboard_dimensions_df.shape)

surfboard_dimensions_df

surfboard_dimensions_df.shape =  (10, 6)

  Surfer Weight (lbs) Surfer Weight (kg) Surfboard Length Surfboard Width Surfboard Thickness Surfing_Frequency
0             100-140          45.4-63.5        6′2″-6′4″       18¾″-19¼″           2¼″-23⁄8″  less than 2 days
1             140-160          63.5-72.6        6′4″-6′8″         19″-20″           23⁄8″-2½″  less than 2 days
2             160-180          72.6-81.6       6′6″-6′10″       19½″-20½″           2½″-25⁄8″  less than 2 days
3             180-200          81.6-90.7       6′10″-7′4″        20″-21½″              2¾″-3″  less than 2 days
4               200 +             90.7 +           7′4″ +       21½″-22½″              3″-3¼″  less than 2 days
5             100-140          45.4-63.5        6′0″-6′4″        18½″-19″           2¼″-23⁄8″  more than 2 days
6             140-160          63.5-72.6        6′2″-6′6″       18¾″-19¼″           23⁄8″-2½″  more than 2 days
7             160-180          72.6-81.6        6′4″-6′8″        19″-19¾″           2½″-25⁄8″  more than 2 days
8             180-200          81.6-90.7        6′8″-7′2″       19½″-20½″         25⁄8″-27⁄8″  more than 2 days
9               200 +             90.7 +           7′2″ +        20″-21½″              3″-3¼″  more than 2 days

# Calculate Surfboard Dimensions;

In [16]:
def calculate_surfboard_dimensions_func(weight_str, Surfing_Frequency):
    start_weight_lst = ["35 & Under", "40", "45", "50", "55", "60", "65"]
    if  weight_str in start_weight_lst:
        weight = 60
    else:
        weight = float(weight_str)

        
        
    surfboard_dict = {}
    
    if float(weight) > 90.7:

        surfboard_dict["length"] = surfboard_dimensions_df.loc[
                                        surfboard_dimensions_df["Surfing_Frequency"] == Surfing_Frequency,
                                        "Surfboard Length"].values[0]
        
        surfboard_dict["width"] = surfboard_dimensions_df.loc[
                                        surfboard_dimensions_df["Surfing_Frequency"] == Surfing_Frequency,
                                        "Surfboard Width"].values[0]

        surfboard_dict["thickness"] = surfboard_dimensions_df.loc[
                                        surfboard_dimensions_df["Surfing_Frequency"] == Surfing_Frequency,
                                        "Surfboard Thickness"].values[0]        
        
        return surfboard_dict

    else:        

        for index, row in surfboard_dimensions_df.loc[surfboard_dimensions_df["Surfer Weight (kg)"] != "90.7 +"].iterrows():

            if ( (weight >= float(row["Surfer Weight (kg)"].split("-")[0])) &
               (weight < float(row["Surfer Weight (kg)"].split("-")[1])) ):

                surfboard_dict["length"] = surfboard_dimensions_df.loc[
                                                (
                                                (surfboard_dimensions_df["Surfer Weight (kg)"] == row["Surfer Weight (kg)"]) 
                                                &
                                                (surfboard_dimensions_df["Surfing_Frequency"] == Surfing_Frequency)
                                                ),
                                                "Surfboard Length"].values[0]     

                surfboard_dict["width"] = surfboard_dimensions_df.loc[
                                                (
                                                (surfboard_dimensions_df["Surfer Weight (kg)"] == row["Surfer Weight (kg)"]) 
                                                &
                                                (surfboard_dimensions_df["Surfing_Frequency"] == Surfing_Frequency)
                                                ),
                                                "Surfboard Width"].values[0]  
        
                surfboard_dict["thickness"] = surfboard_dimensions_df.loc[
                                                (
                                                (surfboard_dimensions_df["Surfer Weight (kg)"] == row["Surfer Weight (kg)"]) 
                                                &
                                                (surfboard_dimensions_df["Surfing_Frequency"] == Surfing_Frequency)
                                                ),
                                                "Surfboard Thickness"].values[0]  
            
                return surfboard_dict
#     pass

In [17]:
calculate_surfboard_dimensions_func(weight_str = "70", 
                                    Surfing_Frequency = "more than 2 days")

{'length': '6′2″-6′6″', 'width': '18¾″-19¼″', 'thickness': '23⁄8″-2½″'}

# INPUT FORMAT and POSSIBLE INPUT FOR EACH VARIABLE:

## WEIGHT:

In [19]:
Wt_Vol_df["Weight (Kg)"].values.tolist()

['35 & Under',
 '40',
 '45',
 '50',
 '55',
 '60',
 '65',
 '70',
 '75',
 '80',
 '85',
 '90',
 '95',
 '100',
 '105',
 '110']

## AGE:

In [21]:
Age_Factor_df["Age"].values.tolist()

['0 - 30', '31 - 50', '51 - 60', '61+']

## SKILL:

In [22]:
Wt_Vol_df.columns.tolist()[1:]

['Advance +', 'Advance', 'Inter. / Adv', 'Intermediate', 'Beginner']

## FITNESS LEVEL:

In [23]:
Fitness_Factor_df["fitness_level"].values.tolist()

['Excellent', 'Good', 'Average', 'Poor']

## SURFING FREQUENCY:

In [27]:
surfboard_dimensions_df["Surfing_Frequency"].unique().tolist()

['less than 2 days', 'more than 2 days']